transformers==4.44.2
accelerate==0.33.0
datasets>=2.20.0
evaluate
jiwer
torch
torchaudio
soundfile
numpy
pandas
librosa
logger

# pip install torch==2.2.2+cu118 torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
